:root {
  --background-primary: #1F2937;
  --background-secondary: #273549;
  --dark-green: #10B981;
  --lighter-green: #55F991;
}

body {
    background-color: var(--background-primary);
}

h1 {
    color: var(--dark-green);
}

h2 {
    color: white;
}

button {
    background-color: var(--dark-green);
    color: white;
    border: 0px;
    border-radius: 4px;
}

.container-password-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.password-box {
    background-color: var(--background-secondary);
    border-radius: 8px;
    color: var(--lighter-green);
}