body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0efeb;
    padding: 48px;
}

.game-container {
    border: 1px solid transparent;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.game-row {
    display: flex;
    gap: 2px;
    border: 1px solid transparent;
    height: 48px;
}

.game-row div {
    flex: 1 1 20%;
    border: black 1px solid;
    border-radius: 4px;
    text-align: center;
}